services:
  server:
    build: ./server
    image: p2c-server
    ports:
      - 3000:3000
#    restart: always
    depends_on: 
      - database
    volumes:
      - /var/lib/docker/volumes/p2c-server:/server/data
    links:
      - "database:db"

  ws-server:
    build: ./websockets
    image: p2c-ws
    ports:
      - 8080:8080
#    restart: always
    depends_on:
      - server
    volumes:
      - /var/lib/docker/volumes/p2c-ws:/ws/data

  database:
      image: postgres
      ports:
        - 5432:5432
#      restart: always
      volumes:
        - /var/lib/docker/volumes/p2c-db:/var/lib/pgsql/data
      environment:
        POSTGRES_DB: ${POSTGRES_DB}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_HOST: ${POSTGRES_HOST}

volumes:
  database:
    driver: local
    driver_opts:
      size: "3GiB"

  ws-server:
    driver: local
    driver_opts:
      size: "1GiB"

  server:
    driver: local
    driver_opts:
      size: "1GiB"
